<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ayuda</title>
    <!-- fontawasome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- css -->
   <link rel="stylesheet" href="../css/ayudaAdmin.css">
</head>
<body>

<section>
    <h1 class="title">Bienvenido a la sección de Ayuda</h1>

    <div class="questions-container">
        <div class="question">
            <button>
                <span>¿Cómo buscar un producto?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>Para ver los productos que tiene guardado en el sistema o buscar uno en específico, siga los siguientes pasos:</p>
                <ol>
                    <li>Dentro de la página principal seleccione el panel de "Productos".</li>
                    <img src="../img/img_ayuda/faqAdmin1_1.png" alt="">
                    <li>Para buscar un producto en particular tiene la opción de buscarlo por nombre o por ID pulsando sobre el botón desplegable de color verde</li>
                    <img src="../img/img_ayuda/faqAdmin1_2.png" alt="">
                    <li>Si por el contrario desea ver todos los productos guardados, pulse sobre el botón "Mostrar todos los productos".</li>
                    <img src="../img/img_ayuda/faqAdmin1_3.png" alt="">
                </ol>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo editar la información de un producto?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>
                    Para editar un producto en el registro de datos de AgroMarket siga estos pasos:
                </p>
                <ol>
                    <li>Dentro de la página principal seleccione el panel de "Productos".</li>
                    <img src="../img/img_ayuda/faqAdmin1_1.png" alt="">
                    <li>Al lado derecho de cada producto podrá ver los íconos correspondientes a la edición (papel y lápiz) y la eliminación (contenedor de basura). Pulse sobre el icono de edición.</li>
                    <img src="../img/img_ayuda/faqAdmin2_2.png" alt="">
                    <li>Una vez dentro de la página de edición de productos podrá modificar la información que desee.</li>
                    <img src="../img/img_ayuda/faqAdmin2_3.png" alt="">
                    <li>Para guardar los cambios realizados pulse sobre el botón "Guardar"</li>
                    <img src="../img/img_ayuda/faqAdmin2_4.png" alt="">
                </ol>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo eliminar un producto?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>
                    Para editar un producto en el registro de datos de AgroMarket siga estos pasos:
                </p>
                <ol>
                    <li>Dentro de la página principal seleccione el panel de "Productos".</li>
                    <img src="../img/img_ayuda/faqAdmin1_1.png" alt="">
                    <li>Al lado derecho de cada producto podrá ver los íconos correspondientes a la edición (papel y lápiz) y la eliminación (contenedor de basura). Pulse sobre el icono de eliminación.</li>
                    <img src="../img/img_ayuda/faqAdmin2_2.png" alt="">
                    <li>Se le mostrará un mensaje en pantalla que confirma haber eliminado el producto.</li>
                    <img src="../img/img_ayuda/faqAdmin3_2.png" alt="">
                </ol>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo añadir un producto?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>
                    Para añadir un producto en el registro de datos de AgroMarket siga estos pasos:
                </p>
                <ol>
                    <li>Dentro de la página principal seleccione el panel de "Añadir producto".</li>
                    <img src="../img/img_ayuda/faqAdmin4_1.png" alt="">
                    <li>Ingrese toda la información requerida para el nuevo producto a agregar</li>
                    <img src="../img/img_ayuda/faqAdmin4_2.png" alt="">
                    <li>Una vez completados los campos, pulse sobre el botón "Guardar".</li>
                    <img src="../img/img_ayuda/faqAdmin4_3.png" alt="">
                </ol>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo buscar una categoría?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>Para ver las categorías que tiene guardado en el sistema o buscar una en específico, siga los siguientes pasos:</p>
                <ol>
                    <li>Dentro de la página principal seleccione el panel de "Categorías".</li>
                    <img src="../img/img_ayuda/faqAdmin5_1.png" alt="">
                    <li>Se le mostrarán las categorías existentes</li>
                    <img src="../img/img_ayuda/faqAdmin5_2.png" alt="">
                </ol>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo editar una categoría?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>Para editar una de las categorías siga los siguientes pasos:</p>
                <ol>
                    <li>Dentro de la página principal seleccione el panel de "Categorías".</li>
                    <img src="../img/img_ayuda/faqAdmin5_1.png" alt="">
                    <li>Haga click sobre el icono de editar que se encuentre en la fila de la categoría que desea editar</li>
                    <img src="../img/img_ayuda/faqAdmin6_2.png" alt="">
                    <li>Modifique la información que necesite</li>
                    <img src="../img/img_ayuda/faqAdmin6_3.png" alt="">
                    <li>Para guardar los cambios haga click sobre el botón "Modificar"</li>
                    <img src="../img/img_ayuda/faqAdmin6_4.png" alt="">
                </ol>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo eliminar una categoría?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>Para eliminar una de las categorías siga los siguientes pasos:</p>
                <ol>
                    <li>Dentro de la página principal seleccione el panel de "Categorías".</li>
                    <img src="../img/img_ayuda/faqAdmin5_1.png" alt="">
                    <li>Haga click sobre el icono de eliminar que se encuentre en la fila de la categoría que desea eliminar</li>
                    <img src="../img/img_ayuda/faqAdmin7_2.png" alt="">
                    <li>Se le mostrará un mensaje en pantalla que confirma haber eliminado la categoría.</li>
                    <img src="../img/img_ayuda/faqAdmin7_3.png" alt="">
                </ol>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo añadir una categoría?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>Para añadir una nueva categorías siga los siguientes pasos:</p>
                <ol>
                    <li>Dentro de la página principal seleccione el panel de "Añadir categoría".</li>
                    <img src="../img/img_ayuda/faqAdmin8_1.png" alt="">
                    <li>Complete la información requerida en los campos de datos para la nueva categoría</li>
                    <img src="../img/img_ayuda/faqAdmin8_2.png" alt="">
                    <li>Finalmente haga click sobre el botón "Guardar"</li>
                    <img src="../img/img_ayuda/faqAdmin8_3.png" alt="">
                </ol>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo visualizar los reportes?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>Dentro del sistema tiene disponibles los reportes sobre el inventario, las reservas totales realizadas por cliente, el informe de ingresos por reservas, el informe a detalle de las reservas realizadas, y el informe de contacto de los clientes, para acceder a ellos siga los siguientes pasos:</p>
                <ol>
                    <li>Dentro de la página principal seleccione el panel de "Reportes".</li>
                    <img src="../img/img_ayuda/faqAdmin9_1.png" alt="">
                    <li>Seleccione el reporte que desea visualizar, se le descargará automáticamente un archivo pdf</li>
                    <img src="../img/img_ayuda/faqAdmin9_2.png" alt="">
                    <br>
                    <img src="../img/img_ayuda/faqAdmin9_3.png" alt="">
                </ol>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo contactar al equipo de soporte?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>
                    Si tiene alguna pregunta o problema, nuestro equipo de soporte está disponible para ayudarle. Puede contactarnos de las siguientes maneras:
                </p>
                <ul>
                    <li>Envíenos un correo electrónico a soporte@agromarket.com</li>
                    <li>Llámenos al número +123456789</li>
                </ul>
            </div>
        </div>

    </div>
</section>

<!-- external js-->
<script src="../js/app_ayuda.js"></script>
</body>
</html>