<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ayuda</title>
    <!-- fontawasome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- css -->
   <link rel="stylesheet" href="../css/estilo_ayuda.css">
</head>
<body>

<section>
    <h1 class="title">Bienvenido a la sección de Ayuda</h1>

    <div class="questions-container">
        <div class="question">
            <button>
                <span>¿Cómo hacer una reserva?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>Hacer una reserva en AgroMarket es sencillo. Siga los siguientes pasos:</p>
                <ol>
                    <li>Explore las categorías y productos disponibles en la página principal.</li>
                    <img src="../img/img_ayuda/faq1_1.jpg" alt="">
                    <li>Haga clic en el producto que le interesa para ver más detalles.</li>
                    <li>En la página del producto, seleccione la cantidad que desea reservar y añádala a la canasta.</li>
                    <img src="../img/img_ayuda/faq1_3.jpg" alt="">
                    <li>Vaya a la canasta de reservas y verifique los productos seleccionados.</li>
                    <img src="../img/img_ayuda/faq1_4.jpg" alt="">
                    <li>Proceda al proceso de confirmación de reserva.</li>
                    <img src="../img/img_ayuda/faq1_5.jpg" alt="">
                    <li>Finalice la reserva y espere la confirmación de la misma.</li>
                </ol>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo contactar al equipo de soporte?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>
                    Si tiene alguna pregunta o problema, nuestro equipo de soporte está disponible para ayudarle. Puede contactarnos de las siguientes maneras:
                </p>
                <ul>
                    <li>Envíenos un correo electrónico a soporte@agromarket.com</li>
                    <li>Llámenos al número +123456789</li>
                </ul>
            </div>
        </div>

        <div class="question">
            <button>
                <span>¿Cómo registrarse como usuario?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <div class="answer-container">
                <p>
                    Para disfrutar de todas las ventajas de AgroMarket, es necesario registrarse como usuario. Siga estos pasos para registrarse:
                </p>
                <ol>
                    <li>En la página de inicio haga click en "Regístrese ahora" en la parte de formulario de ingreso </li>
                    <img src="../img/img_ayuda/faq3_1.jpeg" alt="">
                    <li>Rellene el formulario de registro con su nombre, apellido, fecha de nacimiento, dirección de correo electrónico y una contraseña segura.</li>
                    <img src="../img/img_ayuda/faq3_2.jpg" alt="">
                    <li>Confirme tu registro a través del botón "Registrarme"</li>
                    <img src="../img/img_ayuda/faq3_3.jpg" alt="">
                    <li>¡Listo! Ahora puede acceder a su cuenta y hacer reservas.</li>
                    <img src="../img/img_ayuda/faq3_4.jpg" alt="">
                </ol>
            </div>
        </div>

    </div>
</section>

<!-- external js-->
<script src="../js/app_ayuda.js"></script>
</body>
</html>