<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador | Categorias</title>
    <link rel="stylesheet" href="../css/estilos_administrador.css" />
</head>
<body>
    <header>
        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars"></i>
                <a href="../View/administrador.php" id="logo">AGROMARKET </a>
            
                <a  id="ayudaBtn" href="../View/ayudaAdmin.html">
                    <i class="fa-solid fa-circle-info"></i>
                </a>
                <style>
                    #ayudaBtn i {
                        font-size: 2.5rem;
                        color: #fff;
                    }
                </style>    
            </nav>
        </div>
        </header>
    
        <main>
            <h1 id="titulo">REPORTES</h1>
            <div id="reportes">
                <center>
                    
                   <a id="texto" href="../Model/Reporte1.php"><img id="imagenRp" src="../img/rep1.jpg" alt=""><p>Informe de inventario de productos agrícolas.</p></a>    
                   <a id="texto" href="../Model/Reporte2.php"><img id="imagenRp" src="../img/rep2.png" alt=""><p>Informe de reservas totales realizadas por cliente.</p></a>  
                   <a id="texto" href="../Model/Reporte3.php"><img id="imagenRp" src="../img/rep3.png"><p>Informe de ingresos por reservas e ingreso total.</p></a> 
                   <a id="texto" href="../Model/Reporte4.php"><img id="imagenRp" src="../img/rep4.png" alt=""><p>Informe con detalle de las reservas realizadas.</p></a> 
                   <a id="texto" href="../Model/Reporte5.php"><img id="imagenRp" src="../img/rep5.png" alt=""><p>Informe de contacto de clientes.</p></a> 
                </center>    
                </div>
        
        </main> 
        <footer class="footer">
            <p>©Administrador</p>
        </footer>
        <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
</body>
</html>